{% extends 'templates/template.twig' %}
{% block title %}{{ article.nazev }}{% endblock %}
{% block content %}
    <h2>{{ article.nazev }}</h2>
    <p><strong>Autoři: </strong>{{ article.autori }}</p>
    <p><strong>Počet recenzí: </strong>{{ reviews_count }}</p>
    <p><strong>Abstrakt: </strong>{{ article.abstract }}</p>
    <p><strong>PDF: </strong><a href="{{ makeURL('Home', 'download_pdf', '') }}{{ article.pdf }}">{{ article.pdf }}<span class="glyphicon glyphicon-download-alt" aria-hidden="true" style="font-size: 1em;"></span></a></p>
    {% if article.schvaleno == 0 %}
        {% if reviews_count < 3 %}
            <p><strong>Povolit/zamítnout: </strong><div class="btn btn-static">Přijmout</div>
            <div class="btn btn-static">Zamítnout</div>
            </p>
        {% else %}
            <form method="post" action="{{ makeURL('Admin', 'set_allow_or_deny') }}" class="col-md-2 col-xs-4">
                <input type="hidden" value="1" name="allow">
                <input type="hidden" value="{{ article.id }}" name="id">
                <button type="submit" class="form-control btn btn-success" >Přijmout</button>
            </form>
            <form method="post" action="{{ makeURL('Admin', 'set_allow_or_deny') }}" class="col-md-2 col-xs-4">
                <input type="hidden" value="-1" name="allow">
                <input type="hidden" value="{{ article.id }}" name="id">
                <button type="submit" class="form-control btn btn-danger" >Zamítnout</button>
            </form>
        {% endif %}
    {% endif %}
    <p><strong>Recenzenti: </strong></p>
    <div class="form-group col-md-8 col-md-offset-2 col-xs-12">
        <table class="table table-responsive table-striped admin_article">
            <thead>
                <tr>
                    <td><strong>Jméno</strong></td>
                    <td><strong>Originalita</strong></td>
                    <td><strong>Téma</strong></td>
                    <td><strong>Pravopis</strong></td>
                    <td><strong>Srozum.</strong></td>
                    <td><strong>Průměr. hodnoc.</strong></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            {% for reviewer in reviewers %}
                <tr>
                    <td>{{ reviewer.jmeno }}</td>
                    <td>{{ reviewer.originalita }}</td>
                    <td>{{ reviewer.tema }}</td>
                    <td>{{ reviewer.pravopis }}</td>
                    <td>{{ reviewer.srozumitelnost }}</td>
                    <td>{{ reviewer.prumer|number_format(2, '.', ',') }}</td>
                    <td><a href="{{ makeURL('Admin', 'delete_reviewer', '') }}{{ reviewer.id }}"><span class="glyphicon glyphicon-remove article" aria-hidden="true"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-group col-md-4 col-md-offset-5 col-xs-12">
        <form method="post" action="{{ makeURL('Admin', 'add_reviewer') }}">
            <input type="hidden" name="id_article" value="{{ article.id }}">
            <select class="form-control" name="id_reviewer">
                {% for reviewer in posible_reviewers %}
                    <option value="{{ reviewer.id }}">{{ reviewer.jmeno }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="form-control btn btn-success">Přidat recenzenta</button>
        </form>
    </div>
{% endblock %}