{% extends 'templates/template.twig' %}
{% block title %}Články{% endblock %}
{% block content %}
    <h2>Články</h2>
    <div class="row">
        <div class="form-group col-xs-12">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <td>Název článku</td>
                        <td>Autor</td>
                        <td>Abstratkt</td>
                        <td>PDF</td>
                    </tr>
                </thead>
                <tbody>
                {% for key, article in articles %}
                    <tr>
                        <td>{{ article.nazev }}</td>
                        <td>{{ article.autori }}</td>
                        <td>{{ article.abstract|truncate(300, true) }}</td>
                        <td><a href="{{ makeURL('Home', 'download_pdf', '') }}{{ article.pdf }}"><span class="glyphicon glyphicon-download-alt article" aria-hidden="true"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}