<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Semestrální práce KIV/WEB Vít Mazín">
    <meta name="author" content="Vít Mazín">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../www/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../www/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../www/css/layout.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../www/js/functions.js"></script>
</head>

<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <a href="{{ makeURL('Home', 'index') }}"><img src="../www/images/header.jpg" style="width: 100%;"></a>
            <h1 class="hidden">Security Conference 2017</h1>
        </div>
    </div>
</header>

<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ makeURL('Home', 'index') }}">Security Conference 2017</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ makeURL('Home', 'index') }}">Úvod</a></li>
                <li><a href="{{ makeURL('Home', 'where') }}">Kdy a kde</a></li>
                <li><a href="{{ makeURL('Home', 'articles') }}">Články</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session.uzivatel is defined %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session.uzivatel.login }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if session.uzivatel.prava == 1 %}
                            <li><a href="{{ makeURL('Admin', 'administration') }}">Administrace</a></li>
                        {% elseif session.uzivatel.prava == 2 %}
                            <li><a href="{{ makeURL('Reviewer', 'my_reviews') }}">Moje hodnocení</a></li>
                        {% else %}
                            <li><a href="{{ makeURL('Author', 'author_section') }}">Sekce pro autory</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ makeURL('User', 'signout') }}">Odhlásit</a></li>
                    </ul>
                </li>
                {% else %}
                    <li><a href="{{ makeURL('User', 'login_page') }}">Přihlásit</a></li>
                    <li><a href="{{ makeURL('User', 'register_page') }}">Registrovat</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="container">
    <hr>

    <footer>
        <p>&copy; 2016 Vít Mazín</p>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../www/js/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
<script src="../www/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../www/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
